XML/admitere.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT ADMITERE (ELEV*)>
<!ELEMENT ELEV (NUME, TELEFON, EMAIL?,MEDBAC+,REZULTAT+)>
<!ATTLIST ELEV cnp CDATA #REQUIRED> 
<!ELEMENT NUME (#PCDATA)>
<!ELEMENT TELEFON (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT MEDBAC (#PCDATA)>
<!ELEMENT REZULTAT (#PCDATA)>

